.slideshow {
    position: relative;
    width: 300px;
    margin: auto;
}

.slideshow .show {
    border: 1px solid black;
    background-color: #64AABA;
    border-radius: 25px;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

.slideshow .show.active {
    opacity: 1;
}