/* GLOBAL VARIABLES */
:root {
    /* colors */
    --primary_color: #BA7464;
    --secondary_color: #64AABA;
    --btn_color: #7FBA64;
    --link_color: #9F64BA;
    --dark_color: #000;
    --light_color: #fff;
    /* fonts */
    --primary_font: 'Roboto', sans-serif;
    --secondary_font: 'Ruda', sans-serif;
    --text_font: 'Palanquin', sans-serif;
    --large_size: 2.8em;
    --medium_size: 2em;
    --small_size: 1.8em;
    --standard_size: 1em;
    /* helpers */
    --primary_margin: 10px;
    --primary_padding: 10px;
    --spacer: 1rem;
    --spacer-dbl: calc(var(--spacer) * 2);
    --border-radius: 12px;
    --shadow: 0 0 8px rgba(0,0,0,.4);

}
/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* DEFINE ELEMENTS STYLING */
body {
    font-family: var(--text_font);
    font-size: var(--standard_size);
    line-height: calc(var(--standard_size) * 1.5);
}
h1 {
    font-family: var(--primary_font);
    color: var(--light_color);
    font-size: var(--large_size);
}
h2 {
    text-align: center;
    font-family: var(--primary_font);
    color: var(--dark_color);
    font-size: var(--medium_size);
    margin: calc(var(--primary_margin) * 2) 0;
    line-height: calc(var(--medium_size) * .8);
}
h3 {
    font-family: var(--secondary_font);
    color: var(--dark_color);
    font-size: var(--small_size);
    margin: calc(var(--primary_margin) * 2) 0;
}
p {
    font-size: var(--standard_size);
}
a {
    color: var(--link_color);
    text-decoration: none;
}
a:hover, a:active {
    color: var(--link_color);
}

/* HOMEPAGE */
/*******************************************************************************/

/* NAVIGATION */
header .navBar {
    background-color: var(--dark_color);
    width: 100%;
    color: var(--light_color);
    position: fixed;
    height: 7.5vh;
    z-index: 2;
}
.container {
    width: 370px;
    margin: 0 auto;
    padding: 0 10px;
}
.header a {
    color: var(--light_color);
}  
.header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
    background-color: var(--dark_color);
}
  
.header li a {
    display: block;
    padding: 20px 20px;
    border-right: 1px solid var(--secondary_color);
    text-decoration: none;
}
.header li a:first-of-type {
    border-left: 1px solid var(--secondary_color);
}
  
.header li a:hover, .header .menu-btn:hover {
    background-color: var(--secondary_color);
}
  
.header .logo {
    display: block;
    float: left;
    font-size: var(--standard_size);
    text-decoration: none; 
}
.header .logo:nth-of-type(1) {
    position: absolute;
    bottom: 0;
    margin-bottom: -5px;
}
.header .logo:nth-of-type(2) {
    position: absolute;
    bottom: 5px;
    margin-left: 50px;
}
  
/* menu */
  
.header .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;
}
  
/* menu icon */
  
.header .menu-icon {
    cursor: pointer;
    float: right;
    padding: 30px 20px;
    position: relative;
    user-select: none;
}
  
.header .menu-icon .navicon {
    background: var(--light_color);
    display: block;
    height: 2px;
    position: relative;
    transition: background .2s ease-out;
    width: 18px;
}
  
.header .menu-icon .navicon:before, .header .menu-icon .navicon:after {
    background: var(--light_color);
    content: '';
    display: block;
    height: 100%;
    position: absolute;
    transition: all .2s ease-out;
    width: 100%;
}
  
.header .menu-icon .navicon:before {
    top: 5px;
}
  
.header .menu-icon .navicon:after {
    top: -5px;
}
  
/* menu btn */
  
.header .menu-btn {
    display: none;
}
  
.header .menu-btn:checked ~ .menu {
    max-height: 240px;
    z-index: 3;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon {
    background: transparent;
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:before {
    transform: rotate(-45deg);
}
  
.header .menu-btn:checked ~ .menu-icon .navicon:after {
    transform: rotate(45deg);
}
  
.header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before, .header .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
}
/* HERO */

.hero_one {
    padding-top: 8vh;
    background-image: url('../images/Hero/irvan-smith-5eBW5GomfhY-unsplash.jpg');
    background-size: cover;
    height: 50vh;
}
.hero_one div h1 {
    line-height: calc(var(--large_size) * 0.8);
}
.hero_one div p {
    color: var(--light_color);
}
/* MAIN */

.secOne h2 {
    text-align: center;
}
.secTwo {
    display: flex;
    flex-direction: column;
}
.secTwo #space {
    padding: calc(var(--primary_padding) * 2) 0;
}
.secTwo .design {
    display: flex;
}
.secTwo .design img {
    height: 40%;
    width: 40%;
    display: block;
    margin: auto;
}
.secTwo .design #spaceX {
    padding-left: var(--primary_padding);
}
#spaceX h3 {
    line-height: 2rem;
    margin-top: 0;
}
.secTwo #space div h3 {
    text-align: center;
}
.secTwo #space div p {
    text-align: center;
}
.secTwo h2 {
    text-align: center;
}
.colorBlock {
    background-color: var(--primary_color);
}
.secThree h2 {
    color: var(--light_color);
    text-align: center;
}
/* ACCORDION */

.aContainer {
    padding-bottom: calc(var(--primary_padding) * 3);
}
.accordion {
    position: relative;
    background-color: var(--light_color);
    z-index: 1;
}
.accordion::before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 1em;
    content: "";
}
.accordion:first-child {
    border-top-left-radius: 1.5em;
    border-top-right-radius: 1.5em;
}
.accordion:last-child {
    border-bottom-left-radius: 1.5em;
    border-bottom-right-radius: 1.5em;
}
.accordion:first-child::before {
    border-top-left-radius: 1.5em; 
}
.accordion:last-child::before {
    border-bottom-left-radius: 1.5em; 
}
.aHeader h3 {
    background-color: var(--secondary_color);
    font-size: 1.5em;
    margin: 0;
}
.aHeader button {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: calc(100% - 1rem);
    margin-left: 1rem;
    padding: 1.5rem 2rem;
    border: 0;
    text-align: left;
    font-size: 1.5rem;
    background-color: var(--secondary_color);

}
.fa-arrow-down, .fa-arrow-up {
    width: 1rem;
    font-size: 1.5rem;
}
.fa-arrow-down {
    display: block;
}
.fa-arrow-up {
    display: none;
}
.accordion.isOpen .fa-arrow-up {
    display: block;
}
.accordion.isOpen .fa-arrow-down {
    display: none;
}
.aContent {
    height: 0;
    overflow: hidden;
    transition: height 0.5s ease-out;
}

.aInner {
    padding: 1.5em 3em;
}
.aInner p {
    padding-top: .5em;
}

.aContent img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    height: 80%;
}
.aContent figcaption {
    text-align: center;
    font-style: italic;
    font-size: .8em;
}
/* End Accordion */

.secFour h2 {
    text-align: center;
}
.secFour img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    height: 60%;
}
.secFour figcaption {
    font-size: .8em;
    font-style: italic;
    text-align: center;
}
.secFour p {
    padding-top: var(--primary_padding);
}
.secFive {
    display: flex;
    flex-direction: column;
}
.secFive h2 {
    text-align: center;
}
.secFive button {
    align-self: center;
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: var(--btn_color);
    margin-bottom: calc(var(--primary_margin) * 3);
    padding: var(--primary_padding);
}
.secFive button a {
    color: var(--light_color);
}
/* FOOTER */

footer {
    background-color: var(--dark_color);
    height: fit-content;
    margin-top: var(--primary_margin);
    padding: var(--primary_padding) 0;
}
#split {
    display: flex;
    justify-content: space-between;
}
.artist {
    color: var(--light_color);
    padding-top: var(--primary_padding);
}
.artist p:last-of-type {
    margin-top: 30px;
}
.footNav ul {
    display: none;
}
.footNav ul li {
    color: var(--light_color);
    list-style-type: none;
}
/* PORTFOLIO PAGE */
/************************************************************************************/
.hero_three {
    padding-top: 8vh;
    background-image: url('../images/Hero/vipul-jha-a4X1cdC1QAc-unsplash.jpg');
    background-size: cover;
    height: 50vh;
}
.hero_three h1 {
    position: absolute;
    top: 180px;
}
.cards h2 {
    text-align: center;
}
section.cards {
    display: flex;
    flex-direction: column;
    gap: var(--spacer);
    width: 80%;
    margin: var(--spacer-dbl) auto;
}
section.cards article figure img {
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.cards article {
    margin: auto;
    background-color: var(--secondary_color);
    border: solid 1px var(--dark_color);
    border-radius: var(--border-radius);
    box-shadow: var(--shadow);
    max-width: 400px;
    min-height: 500px;
}
.cards h3 {
    text-align: center;
    margin-top: 10px;
    padding: calc(var(--spacer) / 4);
    border-radius: var(--border-radius) var(--border-radius) 0 0;
}
.cards p {
    text-align: center;
    margin-bottom: var(--primary_margin);
    padding: var(--primary_padding);
}
.cards figcaption  {
    text-align: end;
    font-size: .8rem;
    font-style: italic;
    padding: 0 5px 6px 0;
}
.center {
    display: flex;
}
.cards article button {
    border: 1px solid black;
    border-radius: 15px;
    font-size: 1.5rem;
    background-color: var(--btn_color);
    margin: auto;
    padding: var(--primary_padding);
    margin-bottom: var(--primary_margin);
}
.cards article button a {
    color: var(--light_color);
}
/* CUSTOM PAGE */
/************************************************************************************/

.hero_two {
    padding-top: 8vh;
    background-image: url('../images/Hero/fotis-fotopoulos-DuHKoV44prg-unsplash.jpg');
    background-size: cover;
    height: 50vh;
}
.hero_two h1 {
    position: absolute;
    top: 350px;
}
#needs {
    padding-left: calc(var(--primary_padding) * 3);
    margin: var(--primary_margin) 0;
}
.colorBlockTwo {
    background-color: var(--primary_color);
    min-height: 200px;
}
.colorBlockTwo h3 {
    text-align: center;
    font-size: var(--medium_size);
    padding-top: 30px;
    color: var(--light_color);
    line-height: calc(var(--medium_size) * 1.3);
}
.example article {
    border: 5px solid var(--dark_color);
    border-radius: var(--border-radius);
    margin-top: calc(var(--primary_margin) * 4);
}
.example article:nth-of-type(2) {
    min-height: 550px;
}
.example article h3 {
    text-align: center;
}
.example p {
    padding: var(--primary_padding);
}

.animation {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
}
.animation figcaption {
    font-size: 1rem;
    font-style: italic;
    text-align: center;
}
.example article:nth-of-type(3) {
    min-height: 550px;
}


/* FORM PAGE */
/************************************************************************************/

.form {
    padding-top: 8vh;
}
.form h1 {
    color: var(--dark_color);
    text-align: center;
    padding: var(--primary_padding);
    margin: var(--primary_margin);
    line-height: var(--large_size);
}
/* RESPONSIVE */
img {
    max-width: 100%;
    height: auto;
}
/* MEDIA QUERIES */
/*************************************************************************************/
@media (min-width: 668px) {
    .container {
        width: 649px;
    }
    .secFour #aUs {
        display: flex;
    }
    #aUs figure {
        min-width: 300px;
        min-height: fit-content;
        margin: auto;
    }
}
@media (min-width: 768px) {
    .container {
        width: 749px;
    }
    .footNav ul {
        display: block; 
    }
    header .navBar {
        height: 6.3vh;
    }
    #spaceX {
        margin-top: 40px;
    }
    #spaceX h3 {
        margin-top: 20px;
    }
}
@media (min-width: 800px) {
    header .navBar {
        height: 16vh;
    }
    .heroX {
        padding-top: 16vh;
    }
    /* GRID LAYOUT FOR DESIGN AND DEVELOPMENT */
    :root {
        --grid-cols: 1fr 1fr;
        --grid-rows: 80px 1fr 1fr 1fr;
    }
    .secTwo {
        display: grid;
        grid-template-columns: var(--grid-cols);
        grid-template-rows: var(--grid-rows);
        gap: var(--spacer);
        max-width: 900px;
    }
    .secTwo h2 {
        grid-column: 1 / span 2;
        grid-row: 1 / span 1;
    }
    .secTwo div:nth-of-type(1) {
        grid-column: 1 / span 1;
        grid-row: 2 / span 1;
    }
    .secTwo div:nth-of-type(2) {
        grid-column: 2 / span 1;
        grid-row: 2 / span 1;
    }
    .secTwo div:nth-of-type(3) {
        grid-column: 1/ span 1;
        grid-row: 3/ span 1;
    }
    .secTwo div:nth-of-type(4) {
        grid-column: 2/ span 1;
        grid-row: 3/ span 1;
    }
    .secTwo div:nth-of-type(5) {
        grid-column: 1/ span 1;
        grid-row: 4/ span 1;
    }
    .secTwo div:nth-of-type(6) {
        grid-column: 2/ span 1;
        grid-row: 4/ span 1;
    }
    .secTwo .design img {
        height: 50%;
        width: 50%;
    }
    .secTwo #space:nth-of-type(2), .secTwo #space:nth-of-type(4), .secTwo #space:nth-of-type(6) {
        padding-left: var(--primary_padding);
    }
}
@media (min-width: 820px) {
    .container {
        width: 790px;
    }
}
@media (min-width: 1020px) {
    .container {
        width: 940px;
    }
   .header li {
    float: left;
  }
  .header li a {
    padding: 20px 30px;
  }
  .header .menu {
    clear: none;
    float: right;
    max-height: none;
  }
  .header .menu-icon {
    display: none;
  }
  header .navBar {
    height: 7.5vh;
  }
  .heroText {
    margin-top: 160px;
  }  

} 
